.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: grid;
  height: 100vh;
}

.title{
    text-align: center;
}

.tableContainer {
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table tr{
    text-align: left;
}

.table th,
.table td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  
}

.table th {
  background-color: #f0f0f0;
  font-weight: bold;
  /* text-align: left; */
}

.download{
    text-align: center;
}

.listContainer {
  margin-top: 20px;
}

.listItem {
  margin-bottom: 10px;
}

.paginatorContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.paginatorSelect,
.paginatorButton {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.paginatorButton {
  background-color: #007bff;
  color: #fff;
}

.paginatorButton:disabled {
  background-color: #ccc;
  cursor: default;
}
